@font-face {
    font-family: 'Fixedsys Excelsior 3.01';
    src: url('FixedsysExcelsiorIIIb.woff2') format('woff2'),
        url('FixedsysExcelsiorIIIb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
