@font-face {
    font-family: 'Monofonto';
    src: url('Monofonto.woff2') format('woff2'),
        url('Monofonto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

